/* h1 color: #FFFFFF; */
/* h3 color: #2E2F42; */
/* p color: #434455; */
/* h2 color: #2E2F42; */
/* другорядний колір фона #F4F4FD; */
/* колір логотипу веб #4D5AE5; */

:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #404bbf;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Навігація */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-color {
  color: var(--primary-text-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* контакти */
.adress {
  font-style: normal;
}
.adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-contacts .link:hover,
.adress-contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background-color: var(--primary-text-color);
}

.hero-tittle {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

/* кнопка ордер */
.hero-button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

/* секція 2 */
.title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* section 3 */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.section-team {
  background-color: #f4f4fd;
}

/* section team */

.team-list {
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;
  background-color: var(--primary-white-color);
}

/* footer */
.footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background-color: var(--primary-text-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer-color {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

/* portfolio */
.nav-buttom {
  background-color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.nav-buttom:hover,
.nav-buttom:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.section-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
